// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.nhsuk-tag-new {
  width: 32;
  height: 18;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding: 2px;
}