// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
@use '../vendor/nhsuk-frontend' as *;

/* ==========================================================================
   #APP-PANE
   ========================================================================== */

.side-nav-link {color:#005eb8;font-size: 2rem;}
a.side-nav-link:link {color:#005eb8;font-size: 2rem;text-decoration:underline;}
a.side-nav-link:visited {color:#330072;font-size: 2rem;text-decoration:underline;}
a.side-nav-link:hover {tolor:#7C2855;font-size: 2rem;text-decoration:none;}
