
.side-nav-link {color:#d5281b;font-size: 4rem;}
a.side-nav-link:link {color:#005eb8;font-size: 4rem;text-decoration:underline;}
a.side-nav-link:visited {color:#330072;font-size: 4rem;text-decoration:underline;}
a.side-nav-link:hover {tolor:#7C2855;font-size: 4rem;text-decoration:none;}
