<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Standalone example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NHS Wales - standalone example">
    <meta name="msapplication-TileColor" content="#005eb8">
    <link rel="shortcut icon" href="https://dhcw.nhs.wales/sites/NWISWalesNHSUK/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="https://dhcw.nhs.wales//sites/NWISWalesNHSUK/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://dhcw.nhs.wales//sites/NWISWalesNHSUK/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://dhcw.nhs.wales//sites/NWISWalesNHSUK/images/favicon-16x16.png">
    <link rel="stylesheet" href="https://service-manual.nhs.uk/stylesheets/main.9ba4ae0.min.css"> 
    <script src="https://service-manual.nhs.uk/javascripts/main.1ffb5b9.min.js" defer=""></script>
    <script src="https://assets.adobedtm.com/launch-ENe7f6cdd7cc05409b86547d9153429788.min.js" type="text/plain" data-cookieconsent="statistics" async></script>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  </head>

  <body class="app-example-header-page js-enabled">

    <header class="nhsuk-header" role="banner" style="width: 1200;margin: auto;background: #004e8c;">

      <div class="nhsuk-header__container" style="padding-top: 10px;padding-bottom: 0px;">

        <div class="nhsuk-header__logo" style="margin-bottom: 10px;">
          <a class="nhsuk-header__link" href="/" aria-label="NHS Wales homepage">
            <img class="nav-large-image" src="images/NHS-Wales-Logo-White-01.svg" alt="NHS Wales | NHS Wales" style="width: 150;">
          </a> 
          <div class="nhsuk-header__container" style="padding-top: 50px;padding-bottom: 5px;margin-left: 0px;">
            <span class="nhsuk-header__service-name" style="padding-left: 0px;font-size: 26;font-weight: 600;">Organisation slogan goes here<br>
            <span class="nhsuk-header__service-name" style="padding-left: 0px;font-size: 15;font-weight: 600;">Organisation name</span></span>
          </div>
        </div>

        <div class="nhsuk-header__content" id="content-header" style="margin-top: 26px;padding-top: 0px;height: 30;">
          <div class="nhsuk-header__search" style="padding-top: 0px;">
            <div class="nhsuk-header__search-wrap" id="wrap-search">
              <form class="nhsuk-header__search-form" id="search" action=" " method="get" role="search">
                <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
                <input class="nhsuk-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
                <button class="nhsuk-search__submit" type="submit">
                  <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Search</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-navigation-container" style="padding-top: 10px;margin-top: 0px;">
        <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
          <ul class="nhsuk-header__navigation-list">
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="#">
                Health A-Z
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="#">
                Live Well
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="#">
                Mental health
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="#">
                Care and support
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="#">
                Pregnancy
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="#">
                Other services
              </a>
            </li>
            <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--home">
              <a class="nhsuk-header__navigation-link" href="/">
                Home
              </a>
            </li>
            <li class="nhsuk-mobile-menu-container">
              <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
                <span class="nhsuk-u-visually-hidden">Browse</span>
                More
                <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </div>
      
    </header>

  </body>

  <!-- Copy above and add </html> at the end -->

  <script src="https://service-manual.nhs.uk/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>

  <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main" style="width: 1200;margin: auto;">

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-full">

        <div class="app-tabs__container js-tabs__container" id="default-example" role="tabpanel">
          <div class="code-snippet__preformatted" data-index="ex-1">
            <div class="app-code-snippet__macro"></div>
              <pre>
                  <div style="padding: 0px 0px 0px 0px;">
                    <p style="font-size: 14px;margin-bottom: 0px;">
                     How to use this header in your prototype:
                     
                     1. Right click anywhere on this page.
                     2. Select "View page source" if you're using Google Chrome, or "Inspect" if you're using Microsoft Edge.
                     3. Highlight and select the header, then copy the code from <code>&lt;header class="nhsuk-header"&gt;</code> to <code>&lt;/header&gt;</code>.
                     4. Paste the code into your prototype between your <code>&lt;html&gt;</code> and <code>&lt;body&gt;</code> tags.
                     5. Save the page.
                    </p>
                  </div>
              </pre>
          </div>
        </div>

        <!--
        <div class="app-tabs__container js-tabs__container" id="default-example" role="tabpanel">
          <div class="app-tabs__item app-tabs__item--mobile" role="presentation" data-index="ex-1">
            <a href="" role="tab" aria-controls="default-example" data-track="tab-html" aria-selected="true">
              HTML<span class="nhsuk-u-visually-hidden"> code for header</span>
            </a>
          </div>
          <div class="code-snippet__preformatted" data-index="ex-1">
            <div class="app-code-snippet__macro"></div>
            <div class="app-code-snippet__container">
              <a class="app-link--copy" href="javascript:void(0);" aria-live="assertive">Copy<span class="nhsuk-u-visually-hidden"> default header</span> code</a>
            </div>
              <pre>
                <code>
                  <div style="padding: 0px 50px 50px 50px;">
                    <p style="font-size: 14px;">[html here]</p>
                  </div>
                </code>
              </pre>
            <div class="app-code-snippet__container">
              <a class="app-link--copy" href="javascript:void(0);" aria-live="assertive">Copy<span class="nhsuk-u-visually-hidden"> default header</span> code</a>
            </div>
          </div>
        </div>
        -->

        <div style="margin-top: 20px;text-align: left;">
          <a href="components-header">
            <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">Back to header page</button>
          </a>
        </div>

      </div>

    </div>
    
  </main>

</html>
