<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="components">Components</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <span class="nhsuk-caption-xl">Components
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>

          <h1 class="nhsuk-heading-xl">Footer</h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Use the footer to show users they are on an NHS service and to help them find links they expect at the bottom of our pages.</p>

          <h4 id="NHS-default-header">NHS Wales default footer</h4>

          <p>NHS Wales websites have the default footer with links to policies and other meta information about your service.</p>

          <p>Keep links to a minimum, especially in a transactional journey. Too many links can distract users. Link to specific policies for the transaction, if appropriate. If your total number of links is less than 7, arrange them horizontally in lines.</p>

          <img src="/images/components-footer-example-1.png" alt="Footer example 1" width="960;">

          <br><br>

          <p><a href="compenents-footer-example-1" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales footer with navigation links</h4>

          <p>If your users need lots of footer links to help them navigate a complex information architecture, include navigation links and arrange the links in columns.</p>

          <img src="/images/components-footer-example-2.png" alt="Footer example 2" width="960;">

          <br><br>

          <p><a href="compenents-footer-example-2" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">How to use the footer</h4>

          <p>Visit <a href="https://service-manual.nhs.uk/design-system/components/footer" target="blank" style="color: #005eb8;">NHS Design System</a> to find out how to use the footer.</p>

          <br>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
