<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="components">Components</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <span class="nhsuk-caption-xl">Components
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>

          <h1 class="nhsuk-heading-xl">Header</h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Use the appropriate header at the top of every page to show users they are on an NHS service and help them get started in finding what they need.</p>

          <h4 id="NHS-default-header">NHS Wales default header</h4>

          <p>NHS Wales websites</a> have the default header with logo, navigation links and search.</p>

          <img src="/images/components-header-example-1.png" alt="Header example 1" width="960;">

          <br><br>

          <p><a href="compenents-header-example-1" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales header with service name</h4>

          <p>This header includes the logo, service name, navigation links and search.</p>

          <img src="/images/components-header-example-2.png" alt="Header example 2" width="960;">

          <br><br>

          <p><a href="compenents-header-example-2" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales transactional service header</h4>

          <p>Transactional services include the logo and service name only.</p>

          <img src="/images/components-header-example-3.png" alt="Header example 3" width="960;">

          <br><br>

          <p><a href="compenents-header-example-3" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales organisational header</h4>

          <p>Use the organisational header if your organisation or service is:</p>

          <ul>
            <li>a regional or local NHS Wales service</li>
            <li>not on an wales.nhs.uk domain</li>
          </ul>

          <p>Example with organisation name as part of the content:</p>

          <img src="/images/components-header-example-4.png" alt="Header example 4" width="960;">

          <br><br>

          <p><a href="compenents-header-example-4" style="color: #005eb8;">Open example in a new tab</a></p>

          <p>Example with organisation name as part of the logo:</p>

          <img src="/images/components-header-example-5.png" alt="Header example 5" width="960;">

          <br><br>

          <p><a href="compenents-header-example-5" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales transactional service header with language toggle</h4>

          <p>Transactional services include the logo, service name and languahe toggle.</p>

          <img src="/images/components-header-example-6.png" alt="Header example 6" width="960;">

          <br><br>

          <p><a href="compenents-header-example-6" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">How to use the header</h4>

          <p>Visit <a href="https://service-manual.nhs.uk/design-system/components/header" target="blank" style="color: #005eb8;">NHS Design System</a> to find out how to use the header.</p>

          <br>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
