<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <!--
    <div class="nhsuk-back-link"> 
      <a class="nhsuk-back-link__link" href="javascript:window.history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back
      </a>
    </div>
    -->

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <!--
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="templates">Templates</a>
        </li>
        -->
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-u-reading-width">

            <h1 class="nhsuk-heading-xl">Cookie policy</h1>

            <h2>What are cookies?</h2>

            <p>Cookies are small files saved on your phone, tablet, or computer by websites that you visit. They are widely used to make websites work, or work more efficiently, as well as to provide information to the owners of the site.</p>
            
            <p>The information stored in cookies is used to make websites work or contains things about how you use the website. For example, that you have acknowledged a pop-up or the pages you visit.
            
            <p>Cookies are not viruses or computer programs. They are very small text files, so they do not take up much space on your computer or mobile device by websites that you visit. </p>
            
            <p>This statement refers to ‘cookies’ but covers similar browser storage technologies, such as HTML local storage. Our cookies do not contain any personal information about you and do not hold any information about which sites you visited before you came here.  </p>


            <h2>How we use cookies</h2>

            <p>We only use cookies to:</p>

            <ul>
              <li>make our website work, for example by keeping it secure</li>
              <li>measure how you use our website, such as which links you click on (analytics cookies), if you give us permission</li>
            </ul>

           <p>Each cookie listed shows the cookie name, type, duration, and purpose.</p>
           
            <p>We use cookies only for the purpose described.</p>

          <h2>Essential cookies</h2>
           <p>These essential, or ‘strictly necessary’, cookies enable basic functions like page navigation and access to secure areas of the website.</p>
         
            <p>Our website and services cannot function properly without these cookies, so we do not provide a way to manage them. They can only be blocked or deleted by changing your browser preferences, as described in the Managing Cookies section in this statement.</p>

          </div>

          <details class="nhsuk-details">

            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                List of essential cookies
              </span>
            </summary>

            <div class="nhsuk-details__text">
              <table class="nhsuk-table nhsuk-table-responsive">
                <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Cookie names and purposes</caption>
                <thead class="nhsuk-table__head" role="rowgroup">
                  <tr class="nhsuk-table__row" role="row">
                    <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
                    <th class="nhsuk-table__header" role="columnheader" scope="col">Service</th>
                    <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
                    <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
                  </tr>
                </thead>    
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>cfide</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Identifying the code of the client's current session. It allows the server to identify the client from whom it receives the calls.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody> 
                 <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>cftoken</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>To keep track of user sessions on the site and identify your user session.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody> 
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>MuraCMSAffinity</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Manages sticky sessions in a load-balanced environment, to keep a user's session tied to a single server.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>End of session</td>
                  </tr>
                </tbody> 
                 <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>MuraCMSAffinityCORS</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Manages sticky sessions in a load-balanced environment, to keep a user's session tied to a single server.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>End of session</td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>MXP_TRACKINGID</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>This relates to the suite of features with MXP, which gives the ability for users to have a personalized experience while on that mura site, based on selections either made by the user or the site. This cookie enables the site to persist an experience unique to that decision. If you are not leveraging MXP, this cookie serves no purpose.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody>
                 <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>MURA_UPC</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>This is the output cache, it allows for requests to use the proxy cache - our goal is to put a proxy in front of each API call to Mura, this tells whether or not it should be used or not.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>rb</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Is a resource bundle cookie that should only affect when you are logged into admin.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody>
                 <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>FETDISPLAY</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Is a toolbar on the front end, where hitting the logo does or doesn't show it. Again, this only affects you when you are logged into admin.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>MURA_OSC</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Allows the user to cache or not cache. This uniquely sets when you actually do use the cache, so the cache is relevant.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>1 year 1 month 6 days</td>
                  </tr>
                </tbody>                
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>infobanner</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Information banner is a module that may be added to the site, when dismissed a cookie is created to indicate it should not appear again for the duration of the session. </td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>End of session</td>
                  </tr>
                </tbody>                
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>_rspkrLoadCore</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>Mura</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Set after the service has been activated, for example when you have interacted with the player. An initiation cookie that determines whether or not to load the scripts on the page load.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>End of session</td>
                  </tr>
                </tbody>                
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Cookie name </span>ReadSpeakerSettings</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Service </span>ReadSpeaker</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Purpose </span>Set if you change a setting in the settings menu.</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Expiry </span>4 days</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </details>

          <div class="nhsuk-u-reading-width">

            <h2>Managing cookies</h2>

          <p>Alternatively, most web browsers allow some control of most cookies through the browser settings. To find out more about cookies, including how to see what cookies have been set, visit <a href="www.aboutcookies.org">www.aboutcookies.org</a> or <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>, or use the "Help" function within your browser.</p>
          
            <p>Find out how to manage cookies on popular browsers:</p>
            <ul>
              <li><a href="https://support.google.com/accounts/answer/61416?" target="_blank">Google Chrome</a></li>
              <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank">Microsoft Edge</a></li>
              <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank">Mozilla Firefox</a></li>
              <li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Microsoft Internet Explorer</a></li>
              <li><a href="https://www.opera.com/help/tutorials/security/privacy/" target="_blank">Opera</a></li>
              <li><a href="https://support.apple.com/en-gb/safari" target="_blank">Apple Safari</a></li>
            </ul>
            <p>To find information relating to other browsers, visit the browser developer's website.</p>

          </div>


          <div class="nhsuk-u-reading-width">
            <h2>Further information</h2>
            <p><a href="/get-in-touch">Get in touch</a> if you have any questions about our use of cookies or other technologies.</p>
            

          </div>
          <div class="nhsuk-u-reading-width">
            <h2>Statement updates</h2>
            <p>We may update this cookie statement from time to time to reflect changes to the cookies we use or for other operational, legal, or regulatory reasons. You will be prompted to re-consent to the cookies when we update this statement.</p>
            

          </div>

          <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">Updated: July 2025</p>

        </div>
        
      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
