<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <!--
    <div class="nhsuk-back-link"> 
      <a class="nhsuk-back-link__link" href="javascript:window.history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back
      </a>
    </div>
    -->

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <!--
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="templates">Templates</a>
        </li>
        -->
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds app-component-reading-width">

          <h1 class="nhsuk-heading-xl">Design system team</h1>      

          <p class="nhsuk-lede-text app-lede-text">The user-centred design (UCD) team at Digital Health and Care Wales maintains the design system. We research, develop and test designs based on evidence from users.</p>

          <p><a href="/get-in-touch" style="color: #005eb8;">Get in touch with the team</a> for support, for example to make a request for a new design asset.</p>

        <h2>How we manage design asset requests</h2>
        <h3>1. Receive the request</h3>
        <p>The UCD team receives a request for a new design asset. We add it to our backlog.</p>
        <h3>2. Evaluate</h3>
        <p>The UCD team meets weekly to:</p>
        <ul>
          <li>review the backlog</li>
          <li>decide which requests we can accept</li>
          <li>prioritise accepted requests by how much value they will add and how complex they are</li>
          </ul>
          <p>We then contact the requester to let them know if we're able to create the asset.</p>
        <h3>3. Design and test</h3>
        <p>Once a new design asset is agreed and prioritised, a team is assigned to:</p>
        <ul>
          <li>research and design a working prototype</li>
          <li>run usability and accessibility testing sessions with users</li>
          <li>develop the design asset from the tested prototype</li>
          </ul>
        <h3>4. Publish</h3>
        <p>We publish finished design assets on the website with a description of how and when to use them.</p>
        <p>We also make design asset documentation and version control available in the <a href="https://github.com/GIG-Cymru-NHS-Wales/design-system" style="color: #005eb8;">Design System repository on GitHub</a>. Documentation for project work will be published on the DHCW SharePoint site (access restricted to DHCW staff).</p>


          <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">Updated: August 2025</p>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
