<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <main id="maincontent" role="main">

    <section class="nhsuk-hero">
      <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-hero__wrapper app-hero__wrapper" style="padding-top: 40px;">
              <h1 class="nhsuk-u-margin-bottom-4">Design and build accessible digital services for NHS Wales</h1>
              <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">The NHS Wales Design System follows the NHS service manual with additional components, patterns, styles and templates developed by Digital Health and Care Wales.</p>
            </div>
          </div>
          <!-- WHAT'S NEW
          <div class="nhsuk-grid-column-one-third app-latest-update">
            <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/whats-new">What's new</a></h2>
                <p>Updated <a href="/design-system/components/buttons#secondary-button">secondary button styling</a> and button guidance.</p>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </section>

    <section class="nhsuk-section" style="padding-top: 40px;">

      <div class="nhsuk-width-container app-width-container">

        <ul class="nhsuk-grid-column-one-third nhsuk-card-group" style="margin-bottom: 20px">
          <!-- WARNING
          <li class="nhsuk-grid-column-full nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <strong class="nhsuk-tag nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3">
                  WCAG 2.2
                </strong>
                <h2 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-display-inline-block nhsuk-u-font-weight-normal"><a href="/accessibility/new-criteria-in-wcag-2-2">Check your service meets the new accessibility requirements</a></h2>
              </div>
            </div>
          </li>
          -->

          <li class="nhsuk-grid-column-full nhsuk-card-group__item" style="padding-left: 0px;padding-right: 0px;">
            <div class="nhsuk-card" style="background-color: #E4E4E4;height: 440px;">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading"><a href="https://service-manual.nhs.uk" style="color: #005eb8;">NHS Digital Service Manual</a></h3>
                <p class="nhsuk-card__description">
                  <a href="https://service-manual.nhs.uk/design-system" target="blank" style="color: #005eb8;">Design system</a> 
                  <br>
                  <a href="https://service-manual.nhs.uk/content" target="blank" style="color: #005eb8;">Content guide</a> 
                  <br>
                  <a href="https://service-manual.nhs.uk/accessibility" target="blank" style="color: #005eb8;">Accessibility</a> 
                  <br>
                  <a href="https://service-manual.nhs.uk/design-system/design-principles" target="blank" style="color: #005eb8;">Design principles</a>
                  <br>
                  <a href="https://service-manual.nhs.uk/standards-and-technology" target="blank" style="color: #005eb8;">Standards and technology</a>
                  <br>
                  <a href="https://service-manual.nhs.uk/community-and-contribution" target="blank" style="color: #005eb8;">Community and contribution</a> 
                </p>
              </div>
            </div>
          </li>

        </ul>

        <ul class="nhsuk-grid-column-two-thirds nhsuk-card-group">

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" style="padding-right: 0px;">
            <div class="nhsuk-card" style="margin-bottom: 16px;">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading"><a href="components" style="color: #005eb8;">Components</a></h3>
                <p class="nhsuk-card__description">
                  <a href="components-header" style="color: #005eb8;">Header</a>
                  <br>
                  <a href="components-body" style="color: #005eb8;">Body</a> <strong class="nhsuk-tag-new">WIP</strong>
                  <br>
                  <a href="components-footer" style="color: #005eb8;">Footer</a>
                </p>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" style="padding-right: 0px;">
            <div class="nhsuk-card" style="margin-bottom: 16px;">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading"><a href="patterns" style="color: #005eb8;">Patterns</a></h3>
                <p class="nhsuk-card__description">
                  <a href="patterns-tasks" style="color: #005eb8;">Task patterns</a> <strong class="nhsuk-tag-new">WIP</strong>
                  <br>
                  <a href="patterns-pages" style="color: #005eb8;">Page patterns</a> <strong class="nhsuk-tag-new">WIP</strong>
                  <br>
                  <a href="patterns-services" style="color: #005eb8;">Service patterns</a> <strong class="nhsuk-tag-new">WIP</strong>
                </p>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" style="padding-right: 0px;">
            <div class="nhsuk-card" style="margin-bottom: 16px;">
              <div class="nhsuk-card__content"> 
                <h3 class="nhsuk-card__heading"><a href="styles" style="color: #005eb8;">Styles</a></h3>
                <p class="nhsuk-card__description">
                  <a href="styles-logo" style="color: #005eb8;">Logo</a>
                  <br>
                  <a href="styles-colour" style="color: #005eb8;">Colour palette</a>
                  <br>
                  <a href="styles-font" style="color: #005eb8;">Font</a>
                </p>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" style="padding-right: 0px;">
            <div class="nhsuk-card" style="margin-bottom: 16px;">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading"><a href="templates" style="color: #005eb8;">Templates</a></h3>
                <p class="nhsuk-card__description">
                  <a href="templates-websites" style="color: #005eb8;">Websites</a>
                  <br>
                  <a href="templates-applications" style="color: #005eb8;">Applications</a> <strong class="nhsuk-tag-new">WIP</strong>
                  <br>
                  <a href="templates-extranets" style="color: #005eb8;">Extranets</a> <strong class="nhsuk-tag-new">WIP</strong>
                  <br>
                  <a href="templates-intranets" style="color: #005eb8;">Intranets</a> <strong class="nhsuk-tag-new">WIP</strong>
                </p>
              </div>
            </div>
          </li>

        </ul>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
            <h2>Support</h2>
            <p style="padding-bottom: 20px;">The manual is maintained by the <a href="design-system-team" style="color: #005eb8;">user-centred design team at Digital Health and Care Wales</a>. <br>If you've got a question or want to give feedback, you can <a href="get-in-touch" style="color: #005eb8;">get in touch</a>.</p>
          </div>
        </div>

      </div>

    </section>

  </main>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
