<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <!--
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="patterns">patterns</a>
        </li>
        -->
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <!--

        <div class="nhsuk-grid-column-one-third" style="width: 210px;">

          <h2 style="font-size: 20px;font-weight: 700;line-height: 1.25;color: #4c6272;margin-bottom: 12px;padding-top: 8px;">Subsections</h2>

          <ul class="nhsuk-list">
            <li><a href="#" style="font-size: 1rem;color: #005eb8;">Header</a></li>
            <li><a href="#" style="font-size: 1rem;color: #005eb8;">Body</a></li>
            <li><a href="#" style="font-size: 1rem;color: #005eb8;">Footer</a></li>
          </ul>

        </div>

        -->

        <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-xl">Patterns</h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Patterns are tested and agreed solutions to common needs. You can reuse them across NHS services to make them more consistent.</p>

          <p>We have 3 types of patterns:</p>

          <ul>
            <li>service patterns to allow users iteract with a service, for example, manage a suscription</li>
            <li>task patterns to help users complete a task, for example, give us different kinds of information</li>
            <li>page patterns to improve navigation</li>
          </ul>

          <p>Patterns often use more than 1 <a href="components" style="color: #005eb8;">component</a> and the guidance explains how to adapt them to the context.</p>

          <p class="nhsuk-u-margin-bottom-2"><strong>Available patterns specific to NHS Wales:</strong></p>

          <ul>
            <li><a href="patterns-services" style="color: #005eb8;">service patters</a> &nbsp;<strong class="nhsuk-tag">Work in progress</strong></li>
            <li><a href="patterns-tasks" style="color: #005eb8;">task patterns</a> &nbsp;<strong class="nhsuk-tag">Work in progress</strong></li>
            <li><a href="patterns-pages" style="color: #005eb8;">page patterns</a> &nbsp;<strong class="nhsuk-tag">Work in progress</strong></li>
          </ul>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
