<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="styles">Styles</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <span class="nhsuk-caption-xl">Styles
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>

          <h1 class="nhsuk-heading-xl">Logo</h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Our Logo and how to apply it.</p>

          <p>NHS Wales has its own brand, which differs from that of NHS England.</p>

          <p>Our brand has different logos in both English and Welsh simultaneously as part of Welsh government regulations.</p>

          <p>The NHS Wales Logo Guidelines dictate how the logo must appear on digital platforms, including websites, applications, intranets, and extranets.</p>

          <p>NHS Wales logos are displayed in white on blue headers. </p>

          <p>No logo is required in footers.</p>

          <p>Below is the different versions of the logo for headers.</p>

          <h4 id="NHS-default-header">Generic logo</h4>

          <img src="/images/styles-logo-example-1.png" alt="Header example 4" width="800;">

          <br><br>

          <p><a href="styles-logo-example-1" style="color: #005eb8;">Open example in a new tab</a></p>

          <h4 id="NHS-default-header">Generic logo with organisation name</h4>

          <img src="/images/styles-logo-example-2.png" alt="Header example 4" width="800;">

          <br><br>

          <p><a href="styles-logo-example-2" style="color: #005eb8;">Open example in a new tab</a></p>

          <h4 id="NHS-default-header">Other logos</h4>

          <p>We will be updating this page with other logo options under request: Email the service manual team on <a href="mailto:wales.design-system@wales.nhs.uk" style="color: #005eb8;">wales.design-system@wales.nhs.uk</a>.</p>

          <p>View <a href="https://heiw.nhs.wales/files/nhs-wales-branding-guidelines-eng/" target="blank" style="color: #005eb8;">NHS Wales Logo Guidelines</a> to find out how to use the logo.</p>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
