<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="styles">Styles</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <span class="nhsuk-caption-xl">Styles
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>

          <h1 class="nhsuk-heading-xl">Font</h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Our fonts and typographic styles, and how to apply them.</p>

          <h4 id="NHS-default-header">Frutiger</h4>

          <p>Frutiger is the brand font for the NHS. NHS Wales has a licence for 3 weights of the font which NHS organisations in Wales can sign up to use.</p>

          <p>Use Arial when Frutiger isn't available.</p>

          <p class="rich-text"><code>font-family: “Frutiger W01”, Arial, sans-serif;</code></p>

          <p>Visit <a href="https://service-manual.nhs.uk/design-system/styles/typography" target="blank" style="color: #005eb8;">NHS Design System</a> to find out how to use the font and typographic styles.</p>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
