<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="styles">Styles</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <span class="nhsuk-caption-xl">Styles
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>

          <h1 class="nhsuk-heading-xl">Colour palette</h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Our colours, and how to apply them.</p>

          <p>Our brand colours help people recognise and trust that our services come from the NHS.</p>

          <p>We also use colour to help users prioritise and differentiate information.</p>

          <p>Our text and background colours are designed to meet accessibility needs. Read more about <a href="https://service-manual.nhs.uk/design-system/styles/colour#accessibility" target="blank" style="color: #005eb8;">accessibility and colour on this page</a>.</p>

          <p class="rich-text">This are the colours available to use in NHS Wales digital services following the NHS England colour palette. Only use the variables in the context they're designed for. In all other cases, you should reference the <a href="https://service-manual.nhs.uk/design-system/styles/colour#colour-palette" style="color: #005eb8;">colour palette</a> directly.</p>

          <table class="app-colour-list" summary="Table of main colours">
            <tbody>

              <tr>
                <td class="nhsuk-u-padding-left-0" colspan="3">
                  <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
                  Text
                  </h3>
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#212b32"></span>
                  <code>$nhsuk-text-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #212b32
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#4c6272"></span>
                  <code>$nhsuk-secondary-text-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #4c6272
                </td>
              </tr>

              <tr>
                <td class="nhsuk-u-padding-left-0" colspan="3">
                  <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  Links
                  </h3>
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#005eb8"></span>
                  <code>$nhsuk-link-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #005eb8
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#7C2855"></span>
                  <code>$nhsuk-link-hover-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #7C2855
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#330072"></span>
                  <code>$nhsuk-link-visited-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #330072
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#002f5c"></span>
                  <code>$nhsuk-link-active-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #002f5c
                </td>
              </tr>

              <tr>
                <td class="nhsuk-u-padding-left-0" colspan="3">
                  <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  Focus state
                  </h3>
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#ffeb3b"></span>
                  <code>$nhsuk-focus-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #ffeb3b
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#212b32"></span>
                  <code>$nhsuk-focus-text-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #212b32
                </td>
              </tr>

              <tr>
                <td class="nhsuk-u-padding-left-0" colspan="3">
                  <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  Border
                  </h3>
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#d8dde0"></span>
                  <code>$nhsuk-border-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #d8dde0
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#4c6272"></span>
                  <code>$nhsuk-form-border-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #4c6272
                </td>
              </tr>

              <tr>
                <td class="nhsuk-u-padding-left-0" colspan="3">
                  <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  Error state
                  </h3>
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#d5281b"></span>
                  <code>$nhsuk-error-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #d5281b
                </td>
              </tr>

              <tr>
                <td class="nhsuk-u-padding-left-0" colspan="3">
                  <h3 class="nhsuk-heading-m nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
                  Button
                  </h3>
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#007f3b"></span>
                  <code>$nhsuk-button-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #007f3b
                </td>
              </tr>
              <tr class="app-colour-list__row">
                <th class="app-colour-list__column app-colour-list__column--name" scope="row">
                  <span class="app-colour-list__swatch" style="background-color:#005eb8"></span>
                  <code>$nhsuk-secondary-button-border-color</code>
                </th>
                <td class="app-colour-list__column app-colour-list__column--colour">
                  #005eb8
                </td>
              </tr>

            </tbody>
          </table>

          <p>Visit <a href="https://service-manual.nhs.uk/design-system/styles/colour" target="blank" style="color: #005eb8;">NHS Design System</a> to find out how to use the colours.</p>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
