<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="templates">Templates</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">

          <span class="nhsuk-caption-xl">Templates
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>

          <h1 class="nhsuk-heading-xl">Websites <span style="vertical-align: middle;"></h1>

          <p class="nhsuk-lede-text app-lede-text" style="margin-bottom: 30px;">Use this template to keep your pages consistent with other NHS Wales services.</p>

          <h4 id="NHS-default-header">NHS Wales default website page template</h4>

          <p>This example shows the minimum required for an NHS Wales service.</p>

          <img src="/images/templates-websites-example-1.png" alt="Website example 1" width="960;">

          <br><br>

          <p><a href="templates-websites-example-1" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales transactional page template</h4>

          <p>The transactional page template example uses the transactional service header and a back link component.</p>

          <img src="/images/templates-websites-example-2.png" alt="Website example 2" width="960;">

          <br><br>

          <p><a href="templates-websites-example-2" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">NHS Wales content page template</h4>

          <p>The content page template example includes navigation and search in the header and a breadcrumbs component.</p>

          <img src="/images/templates-websites-example-3.png" alt="Website example 3" width="960;">

          <br><br>

          <p><a href="templates-websites-example-3" style="color: #005eb8;">Open example in a new tab</a></p>

          <br>

          <h4 id="NHS-default-header">How to use the website pages templates</h4>

          <p>Visit <a href="https://service-manual.nhs.uk/design-system/styles/page-template" target="blank">NHS Design System</a> to find out how to use the website page templates.</p>

          <br>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
