<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <!--
    <div class="nhsuk-back-link"> 
      <a class="nhsuk-back-link__link" href="javascript:window.history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back
      </a>
    </div>
    -->

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <!--
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="templates">Templates</a>
        </li>
        -->
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds app-component-reading-width">

          <h1 class="nhsuk-heading-xl">Terms and conditions</h1>      

          <p class="nhsuk-lede-text app-lede-text">This website is operated by Digital Health and Care Wales. These terms govern your use of the NHS Wales Design System.</p>

          <p>We may update these terms of use from time to time, and the revised version will be effective when displayed here.</p>
         
         <h2>Permitted use</h2> 
          <p>Visitors to this site are granted permission to access published materials (content) subject to these terms. By using the website, you agree to be bound by the terms of use.</p>
          <p>Content on the NHS Wales Design System website is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government License v3.0</a>.</P>
          <p>Images, logos and graphics used on this site are owned by us and/or third parties. These must not be used without obtaining permission from the copyright owner.</p>
          <p>You acknowledge that all intellectual property rights relating to this website belong to Digital Health and Care Wales and where applicable, third party associates.</p>

          <h2>Personal information</h2>
          
          <p>When you voluntarily submit identifiable data on this website (this includes submission of feedback form, questionnaires etc.), the information submitted is used solely to respond to your queries and for its intended purpose. We do not share web user information with third parties.</p>
         
          <h2>Virus protection</h2>
          
          <p>We make every effort to check and test material for viruses. However, it is recommended that you run an anti-virus program on all materials downloaded from the internet. We cannot accept responsibility for any loss, disruption or damage to your data or computer system which may occur whilst using material derived from this website.</p>
          
          <h2>Disclaimer</h2>
          
          <p>Care is taken to ensure that the website content is accurate. Nevertheless, content is provided for general information only, and you use it at your own risk. We will not be held liable for damage or loss ensuing from any act or omission resulting from the use of information on this website.</p>
          
          <h2>External websites</h2>
          
          <p>Digital Health and Care Wales is not responsible for the content or reliability of any linked websites. We accept no liability in respect of the content or for the consequences of following any advice included on such sites.</</p>

          <p>Listing should not be taken as an endorsement of any kind.</p>

          <p>We cannot guarantee that these links will work all of the time and have no control over the availability of the linked pages or change of website address.</p>

          <p>Digital Health and Care Wales reserves the right to reject or remove links to any website.</p>
          
          <h2>Contact details</h2>

          <p>Contact us by email at <a href="mailto:design-system@wales.nhs.uk" style="color: #005eb8;">design-system@wales.nhs.uk</a> if you have any questions.</p>

          <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">Updated: July 2025</p>

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
