<html lang="en">

{% include "includes/head.html" %}

<body class="js-enabled">

  {% include "includes/header.html" %}

  <div class="nhsuk-width-container app-width-container">

    <!--
    <div class="nhsuk-back-link"> 
      <a class="nhsuk-back-link__link" href="javascript:window.history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back
      </a>
    </div>
    -->

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
      <ol class="nhsuk-breadcrumb__list">        
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>    
        <!--
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="templates">Templates</a>
        </li>
        -->
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">
          <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>Home
        </a>
      </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds app-component-reading-width">

          <h1 class="nhsuk-heading-xl">Your privacy</h1>      

          <p class="nhsuk-lede-text app-lede-text">Digital Health and Care Wales is a national organisation delivering technology and digital services for patient care in Wales. Our privacy policy explains what information we collect, what we do with it, your rights and how you can contact us if you need support.</p>

      

          <h2>Feedback and queries</h2>

          <p><a href="https://dhcw.nhs.wales/use-of-site/feedback/">Contact us using our feedback form</a>. We will only use your contact details to respond to your query.</p>

          <h2>Information we may collect</h2>
          
          <h3>Cookies</h3>

          <p>Cookies are pieces of data created when you visit a website. Our site uses cookies to store information while you move around the site. You can set your computer not to accept cookies. However, if you do this, you may not be able to use some site features because we need to record your preferences in order to give you the information you need during your visit.</p>
          
          <p>Our cookies do not contain any personal information about you and do not hold any information about which sites you visited before you came here.</p>

          <p><a href="/cookie-policy">Read our cookie policy</a> to find out more about the cookies we use.</p>

        
          <h3>Personal information</h3>

          <p>We do not collect personal information about site users.</p>

          <p>When you voluntarily submit identifiable data on this website (this includes submission of feedback forms or questionnaires), the information submitted is used solely to respond to your queries and for its intended purpose.</p>

          <h3>Google Analytics</h3>

          <p>This website uses <a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a>, a web analytics service provided by Google Inc. ('Google'). Google Analytics uses 'cookies' and JavaScript code to help analyse user activity on websites. The information generated about your use of the website (including your IP address) will be transmitted to and stored on Google servers in the United States.</p>
         
          <p>Google will use this information to produce user activity reports for this website. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf.</p>

          <p>Google will not associate your IP address with any other data previously held. You may refuse the use of cookies by selecting the appropriate settings on your browser. Please note that if cookies are disabled, you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</p>

          <p>Read <a href="https://policies.google.com/privacy">Google's Full Privacy Policy</a> and <a href="https://marketingplatform.google.com/about/analytics/terms/us/">Terms of Service</a> for detailed information.</p>

          <h3>Why we collect user statistics</h3>

          <p>By understanding user behaviour and preferences, we are able to improve our website content to meet user expectations and needs.</p>

          <h3>Links to external sites</h3>
          
          <p>Like most sites, the NHS Design System website contains links to external sites. It should be noted that this privacy policy can apply only to this site and that we cannot be responsible for the privacy practices of other websites.</p>

          <p>We do not pass on any personal information you have given us to any other website. We do not pass on any personal information you have given us to any other website.</p>
         

        </div>

      </div>

    </main>

  </div>

  {% include "includes/footer.html" %}

  {% include "includes/template-scripts.html" %}

</body>

</html>
